.contribution-graph {
    display: flex;
}

.week {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Adjust margin for spacing between weeks */
}

.day {
    width: 10px;
    height: 10px;
    margin: 2px 0; /* Adjust margin for spacing between days */
    background-color: #ebedf0;
    position: relative;
}

.day:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 10;
}

.day-1 { background-color: #c6e48b; }
.day-2 { background-color: #7bc96f; }
.day-3 { background-color: #239a3b; }
.day-4 { background-color: #196127; }
.today { background-color: #fc8181; } /* 빨간색 */

