#MyProfileUserInfo{
    width: 70vw;
    height: 20vh;
    margin-top : 5vh;
    margin-bottom: 5vh;    
    margin-left : 15vw;
    margin-right: 15vw;
    display: flex;
    align-items: center;
}

#MyProfileUserImage{
    width: 10%;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 10px;
    margin-right: 5%;
}

#MyProfildUserInfoContainer{
    width: 80%;
    height: 10vh;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
    padding-left:5%;
    padding-top:3vh;
    padding-bottom: 3vh;
    font-size: medium;
}

#TextContainer{
    display: flex;
    gap: 20px;
}

#MyProfileStudyHistory{
    width: 70vw;
    height: 35vh;
    margin-left : 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#MyProfileStudyHistoryLogo{
    font-size: large;
    font-weight: 500;
    margin-bottom: 2.5vh;
}

#MyProfileStudyHistoryBody{
    width : 100%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
}

#MyProfileStudyHistoryNumeric{
    height : 30vh;
    width : 35%;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left:5%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

#MyProfileStudyHistoryGrass2 {
    height: 100%;
    width: 55%;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 1fr); /* 12개의 열 */
    grid-template-rows: repeat(12, 1fr); /* 7개의 행 */
    gap:5px;
}

#MyProfileStudyHistoryGrass {
    height: 100%;
    width: 55%;
    border: 1px solid;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#grass {
    width: 15px;
    height: 15px;
    background-color:rgb(200, 200, 200);
    border-radius: 3px;
}

