#StudySettingBar{
    width: 85%;
    margin-top: 7.5vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 0.75fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    font-size: medium;
}

#SettingBarSetting{
    font-weight: bold;
}

#CodeGroupSetting{
    border: 0px;
    font-family: 'SUITE-Regular';
    font-size: medium;
}

#ProblemSettingIcon{
    height: 15px;
}

#CodeGroupSettingList{
    font-family: 'SUITE-Regular';
    background-color: white;
}