#MainMenubar{
    width: 70vw;
    margin-top : 10vh;  
    margin-left : 15vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns : 1fr 0.5fr 1.65fr 0.45fr 2.05fr 0.45fr 2.8fr 0.4fr 1fr  ;
    justify-items: center;
    font-size: larger;
}

#MainMenuBarLogo{
    font-weight: bold;
}
