#Login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#LoginMainLogo {
    margin-top: 35vh;
    font-size: 90px;
}

#LoginDesctiption {
    margin-top: 1vh;
    font-size: 30px;
    margin-bottom: 15vh;
}

#GoogleBtnContainer {
    display: flex;
    gap: 20px;
}

#loginGoogleLogo {
    height: 5vh;
}

#GoogleBtn {
    display: flex;
    gap: 30px;
    border: 0px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    justify-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add this line */
    transition: box-shadow 0.3s ease; /* Optional: Add a transition for the shadow */
}

#GoogleBtn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Optional: Add a larger shadow on hover */
}

.banner {
    font-family: 'SUITE-Regular';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
  }
  
  .banner.success {
    background-color: #4bc5fe; /* Green */
    color: white;
  }
  
  .banner.error {
    background-color: #ff8f87; /* Red */
    color: white;
  }