#StudyBlockOrderingCodeArea{
    border: 0px;
    padding-left: 20px;
    resize: none;
    outline: none;
    font-family: 'intelone-mono-font-family-regular';
    font-size: large;
    border-radius: 10px;
    gap : 10px;
}

#StudyBlockOrdering{
    width: 85vw;
    margin-top : 7.5vh;  
    margin-left : 7.5vw ;
    margin-right: 7.5vw;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top : 30px;
    padding-bottom: 30px;
    font-size: small;
}

#exampleBox{
    position: fixed;
    width: 84.8vw;
    bottom : 5vh;
    background-color: white;
    border: 2px solid;
    border-color: #5C4EFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

#exampleList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'intelone-mono-font-family-regular';
    font-size: medium;
}

#exampleListBlock{
    width: 10vw;
    align-self: center;
}


