#StudyBlockOrderingCodeArea{
    border: 0px;
    padding-left: 20px;
    resize: none;
    outline: none;
    font-family: 'intelone-mono-font-family-regular';
    font-size: large;
    border-radius: 10px;
    gap : 10px;
}

#exampleList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    font-family: 'intelone-mono-font-family-regular';
    font-size: medium;
}

#exampleListBlock{
    width: 10vw;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 30px;
    margin-right: 4vw;
}

#exampleInput{
    width: 8vw;
    padding-left: 10px;
    border: 0.5px solid;
    font-family: 'intelone-mono-font-family-regular';
    font-size: medium;
}

#BlockOrderingBtnContainer{
    position: fixed;
    width: 84.8vw;
    bottom : 5vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

