#StudyHomeStudybar{
    width: 85vw;
    margin-top: 7.5vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    display: flex;
    justify-content: space-around;
    font-size: medium;
}

#StudyHomeSettingKeyword{
    font-weight: bold;
}


#StudyHomeBody{
    width: 85vw;
    height: 60vh;
    margin-top : 7.5vh;
    margin-bottom: 10vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

#StudyHome{
    display: flex;
    flex-direction: column;
}