#UploadSettingInfo{
    display: flex;
    gap: 30px;
    border: 1px solid;
    border-radius: 10px;
    width: 95%;
    padding-top:15px;
    padding-left : 2.5%;
    padding-right : 2.5%;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom :15px;
    font-size: medium;
}

#UploadContent{
    border: 1px solid;
    border-radius: 10px;
    width: 95%;
    padding-top:15px;
    padding-left : 2.5%;
    padding-right : 2.5%;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom :15px;
    font-size: large;
}