#CodeHomeSearchBar{
    width: 85%;
    margin-top: 7.5vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.3fr 0.8fr 0.8fr 0.5fr 1fr 0.5fr 0.7fr 1.5fr 1.5fr 0.5fr 1fr 0.5fr 2fr 0.5fr ;
    font-size: medium;

}

#CodeSettingKeyword{
    font-weight: bold;
}

#CodeHomeBody{
    width: 85vw;
    height: 55vh;
    margin-top : 5vh;
    margin-bottom: 5vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    overflow: auto;
}

#CodeHomeSearchButton{
    height: 15px;
}

#CodeHomeUploadButton{
    width: 85vw;
    height : 5vh;
    margin-left: 7.5vw;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
}

#CodeHomeSearchInput{
    border: 0px;
}

#Codehome{
    display: flex;
    flex-direction: column;
}

#CodeSearchResult{
    width: 85%-1px;  
    padding-top:15px;
    padding-bottom: 15px;
    padding-left : 7.5%;
    padding-right: 7.5%;
    margin-top:20px;
    margin-bottom : 30px;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 1.5fr 0.5fr 2fr 0.5fr 1fr 0.5fr 2fr ;
    gap: 20px; 
    font-size: small;
    border: 1px solid;
    border-radius: 10px;
}