
#CodeHomeUploadButton{
    width: 85vw;
    height : 5vh;
    margin-left: 7.5vw;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    font-family: 'SUITE-Regular';
}

#Codehome{
    display: flex;
    flex-direction: column;
}

