#CodeHomeSearchBar{
    width: 85vw;
    margin-top: 7.5vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    display: flex;
    justify-content: space-around;
    align-items:center; 
    font-size: medium;
}

#CodeSettingKeyword{
    font-weight: bold;
}

#CodeHomeBody{
    width: 85vw;
    height: 55vh;
    margin-top : 5vh;
    margin-bottom: 5vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

#CodeHomeSearchButton{
    height: 15px;
}

#CodeHomeUploadButton{
    width: 85vw;
    height : 5vh;
    margin-left: 7.5vw;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
}

#CodeHomeSearchInput{
    border: 0px;
}

#Codehome{
    display: flex;
    flex-direction: column;
}