#StudyLineOrderingCodeArea{
    border: 0px;
    padding-left: 20px;

}

#StudyLineOrdering{
    width: 85vw;
    height: fit-content;
    margin-top : 7.5vh;
    margin-bottom: 10vh;    
    margin-left : 7.5vw;
    margin-right: 7.5vw;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#StudyLineOrderingInfo{
    display: flex;
    gap: 5vw;
}