#StudyTracking{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#StudyTrackingBackground{
    border: 0px;
    resize: none;
    outline: none;
    font-family: 'intelone-mono-font-family-regular';
    padding-top: 5px;
    padding-bottom: 5px;
}

#StudyTrackingInput{
    border: 0px;
    resize: none;
    outline: none;
    font-family: 'intelone-mono-font-family-regular';
    padding-top: 5px;
    padding-bottom: 5px;
}

